body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.game-board{          
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    }

.row {
    display: flex;
    border: 1px solid black;
    align-items: flex-start;
}

.cells {
    display:flex;
    border: 1px solid black;
    height: 50px;
    width: 50px;
    align-items: center; 
    justify-content: center;
}

.gameState{
    display: flex;
    flex-direction: column;
    
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    color: white;
    justify-content: flex-end;
    align-items: center;
    z-index: 1; /* Ensure the overlay is on top */
    
}

.resetButton{
    justify-content:flex-end;
    align-items: center;
}